<h2 class="md-title">User</h2>
<md-divider></md-divider>
<md-content layout-padding layout-gt-sm="row">
    <md-input-container>
      <label>Title</label>
      <input ng-model="user.name">
    </md-input-container>
    <md-input-container>
      <label>Email</label>
      <input ng-model="user.email" type="email">
    </md-input-container>
</md-content>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
	<md-button class="md-raised" href="#/">Back</md-button>
	<md-button class="md-raised md-primary" href="#/user/edit/{{user.id}}">Edit</md-button>
	<md-button class="md-raised md-warn" ng-click="showConfirm()">Delete</md-button>
  <md-button ng-show="user.is_blocked" class="md-raised md-primary" ng-click="toggle_blocked()">Unlock</md-button>
  <md-button ng-hide="user.is_blocked" class="md-raised md-warn" ng-click="toggle_blocked()">Block</md-button>
</section>